* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work-sans;
}

p {
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color);
    font-size: 16px;
}

@font-face {
    font-family: "work-sans";
    src: url(../fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "work-sans-bold";
    src: url(../fonts/WorkSans-Bold.ttf);
}

:root {
    --link-color: rgb(255, 144, 14);
    --bg-main-color: rgb(255, 244, 231);
    --text-color: rgb(114, 114, 114);
    --margin-top: 90px;

}

.bg-main {
    background-color: var(--bg-main-color);
}

.container {
    width: 100%;
    height: auto;
}

.main-button-type {
    text-transform: capitalize;
    color: white;
    font-family: work-sans;
    font-weight: 900;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--link-color);
    padding: 20px 25px;
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.main-button-type:hover {
    background-color: var(--text-color);
}

.main-button-type:active {
    background-color: var(--link-color);
}

@media screen and (max-width:768px) {
    .main-button-type {
        padding: 15px 20px;
        font-size: 18px;
    }
}

/* ===== End of common class and styles declarations ===== */

header {
    height: auto;
    width: 90%;
    margin: 0 auto;
    background-color: var(--bg-main-color);
}

header img {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.header-title {
    text-align: center;
}

.header-title h1 {
    text-transform: capitalize;
    font-size: 64px;
    font-weight: 900;
    font-family: work-sans-bold;
    padding: 90px 0 10px 0;
}

.header-title p {
    font-size: 16px;
    color: var(--text-color);
    padding: 20px 0;
}

@media screen and (max-width:768px) {
    .header-title h1 {
        font-size: 54px;
        font-family: work-sans-bold;

    }
}

@media screen and (max-width:425px) {
    .header-title h1 {
        font-size: 34px;
        font-family: work-sans-bold;

    }
}

/* ===== End of header ======  */

.quick-list-of-our-features {
    margin: 0 auto;
    height: auto;
    width: 90%;
    margin-top: var(--margin-top);
    display: flex;

}

.quick-list-of-our-features-img {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.quick-list-of-our-features-img img {
    width: 45%;
    height: auto;
    margin-top: 20px;
}

.quick-list-of-our-features-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.quick-list-of-our-features-title h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: work-sans-bold;
    padding: 20px 0;
}

.quick-list-of-our-features-title p {
    color: var(--text-color);
    font-size: 16px;
    padding: 10px 0;
}



@media screen and (max-width:768px) {
    .quick-list-of-our-features {
        display: flex;
        flex-direction: column-reverse;

    }

    .quick-list-of-our-features-img {
        width: 100%;
    }

    .quick-list-of-our-features-title {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .quick-list-of-our-features-title h1 {
        font-size: 35px;
    }

}

@media screen and (max-width:425px) {
    .quick-list-of-our-features-img img {
        width: 100%;

    }
}

/* ===== End of quick list of our feature ===== */
.features-you-will-love {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: var(--margin-top);
    gap: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.feature-header {
    width: 100%;
    margin-bottom: 20px;
}

.feature-header-h2 {
    display: flex;
    gap: 10px;
    align-content: stretch;
}

.h2-line {
    width: 6px;
    background-color: var(--link-color);
}

.feature-header-h2 h2 {
    font-size: 45px;
    font-family: work-sans-bold;
    font-weight: bold;
    padding: 10px;
}

.feature-header p {
    padding: 10px;
}

.feature-details {
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.2);
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-details h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: work-sans-bold;
    padding: 15px;
    text-transform: capitalize;
}

.feature-details p {
    padding: 0 0 20px 15px;
}

.feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;
}

.feature-img img {
    width: 100%;
    height: auto;
}

.special-main-button-button {
    background-color: var(--link-color);
    height: 140px;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    color: white;
    font-family: work-sans-bold;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -50px;

}

.special-main-button-button:hover {
    background-color: var(--text-color);
}

@media (min-width:1025px) and (max-width:1250px) {
    .features-you-will-love {
        grid-template-rows: repeat(4, 1fr);
    }

    .feature-details:nth-child(5) {
        grid-row-start: 4;
        grid-column-start: 2;
    }

    .feature-img {
        grid-row-end: 4;
    }
}

@media (min-width:769px) and (max-width:1024px) {

    .features-you-will-love {
        grid-template-rows: repeat(4, 1fr);
    }

    .feature-details:nth-child(4) {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .feature-details:nth-child(5) {
        grid-column: span 2;
    }

    .feature-img {
        grid-row-end: 3;
    }

    .special-main-button-button {
        left: -30px;
    }
}

@media screen and (max-width:768px) {
    .features-you-will-love {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 20px;
    }

    .feature-header {
        grid-column: span 1;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .feature-header h2 {
        font-size: 35px;
    }

    .feature-details {
        grid-column: span 1;
        grid-column-start: 1;
    }

    .feature-details h3 {
        font-size: 25px;
    }

    .feature-img {
        grid-column: span 1;
        grid-row-start: 7;
    }
}

/* ===== End of some features you may like ===== */
.some-facts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: var(--margin-top);
    /* background-color: rgba(128, 128, 128, 0.151); */
}

.some-facts h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: work-sans-bold;
}

.some-facts p {
    padding-bottom: 50px;
}

.fact-items {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}

.fact {
    height: 240px;
    width: 240px;
    border: 2px solid var(--link-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    transition: .3s;
}

.fact:hover {
    background-color: var(--link-color);
    color: white;
}

@media screen and (max-width:1167px) {
    .fact {
        height: 400px;
        width: 400px;
    }

    .fact img {
        width: 100px;
    }
}

/* ===== End of some facts ====== */
.our-sponcer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    margin-top: var(--margin-top);
}

.our-sponcer h2 {
    padding: 10px;
}

.our-sponcer p {
    padding: 20px;
}

.our-sponcer-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.our-sponcer-images img {
    margin: 10px;
    filter: grayscale(100%);
}

/* ===== End of our sponcer ====== */
.send-us-an-email {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: var(--margin-top);
}
.send-us-an-email h2{
    font-size: 45px;
    font-family: work-sans-bold;
    margin: 30px 20;
    padding: 20px 0 30px 20px;
}

#email {
    width: 100%;
    height: 60px;
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 20px;
    margin: 20px;
    outline: 4px solid var(--link-color);
}

textarea {
    width: 100%;
    overflow-y: scroll;
    resize: vertical;
    margin: 20px;
    padding: 5px;
    border: 1px solid red;
    outline: 4px solid var(--link-color);
    border-radius: 5px;
}
.send-email-btn{
    margin: 20px;
}
footer{
    width: 90%;
   
    background-color: var(--bg-main-color);
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    color: var(--bg-main-color);
    font-size: 20px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}
footer p{
    padding: 20px 0;
}